.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 35px;
    margin-top: 20px;
}

.log {
    max-width: 300px;
    min-width: 185px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    margin-left: 10px;
}

.button-container {
    min-width: 240px;
}

.data {
    margin-left: 20vw;
    min-width: 65px;
}

.art-container {
    display: flex;
    justify-content: center;
}

.ascii-element {
    font-family: 'Courier Prime', monospace;
    min-width: none;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 24px;
    text-align: center;
    stroke: blueviolet;
    margin-bottom: 20px;
    margin-left: 15px;
    text-decoration: underline;
    white-space: nowrap;
}

.title:hover {
    cursor: pointer;
}

.button {
    background-color: white;
    font-family: inherit;
    font-size: 16px;
    border-width: 1px;
    cursor: pointer;
}

.button:disabled {
    background-color: grey;
    color: gainsboro;
    border-color: gainsboro;
    cursor: default;
}

.log-text {
    margin-bottom: 10px;
}

body {
    min-width: 180px;
    overflow: hidden;
}